/* general */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');s

*{
    margin: 0px;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    
}

a{
    font-family: "Plus Jakarta Sans";
    text-decoration: none;
    color: #475569;
    transition: all ease-in-out 0.2s;
}

a:hover{
    color: #4F46E5;
    transition: all ease-in-out 0.2s;
}

ul{
    list-style: none;
}


/* header */

header{
    align-items: center;
    max-width: 1150px;
    padding: 10px;
    margin: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 50px;
}

img{
    max-width: 150px;
}

#btnDL{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all ease-in-out 0.2s;

}

#btnDL:hover{
    background-color: #4F46E5;
    transition: all ease-in-out 0.2s;

}