/* general */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
}

p{
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    color: #475569;
}

a{
    font-family: "Plus Jakarta Sans";
    text-decoration: none;
    color: #475569;
    transition: all ease-in-out 0.2s;
}

a:hover{
    color: #4F46E5;
    transition: all ease-in-out 0.2s;
}

ul{
    list-style: none;
}


/* header */

header{
    align-items: center;
    max-width: 1150px;
    padding: 10px;
    margin: auto;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 50px;
}

img{
    max-width: 150px;
}

#btnDL{
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all ease-in-out 0.2s;

}

#btnDL:hover{
    background-color: #4F46E5;
    transition: all ease-in-out 0.2s;

}

/* footer */

footer{
    background-color: #0F172A;
}

footer div{
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;

}

footer ul{
    display: flex;
    gap: 40px;
}

footer a,p{
            color: #94A3B8;

}


/* main */

/* section 1 */

#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 1150px;
}

h1{
    font-size: 72px;
    font-weight: 800;
    color: #0F172A;
    font-family: "Plus Jakarta Sans";

}

#section1 span{
    color: #4F46E5;

}

#section1 #accroche{
    font-weight: 700;
    font-style: italic;
    color: #4338CA;
    background-color: #E0E7FF;
    padding: 10px 20px;
    border-radius: 30px;
    width: fit-content;
    margin-bottom: 30px;
}

#descriptif{
    font-size: 20px;
    line-height: 32px;
    color: #475569;
    padding: 30px 0px 60px 0px;
    max-width: 520px;
}

#appstore:hover{
    color: #4F46E5;
    background-color: white;
    border: solid 2px #E2E8F0;
}

#appstore{
    padding: 20px 30px;
    border-radius: 15px;
    background-color: #0F172A;
    color: white;
    border: solid 2px #0F172A;

}

#playstore:hover{
    color: white;
    background-color: #4338CA;
    border: solid 2px #4338CA;
}

#playstore{
    padding: 20px 30px;
    border-radius: 15px;
    border:solid 2px #E2E8F0;
    background-color: white;
    color: #0F172A; 
    margin-left: 30px;   
}

#section1 article{
    margin: 100px 0px;
}

#section1 #appShowcase{
    text-align: center;
    position: relative;
}

#imgPhone{
    max-width: 500px;
}

#certifQualiteAir{
    display: flex;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    background-color: white;
    box-shadow: 8px 6px 18px #94A3B8;
    position: absolute;
    bottom: 110px;
    right: 0px;
}

#certifQualiteAir #PqualiteAir{
    font-weight: 700;
    font-size: 14px;
    color: black;
}

#certifQualiteAir p{
    font-size: 12px;
}

#certifQualiteAir img{
    max-width: 50px;
    padding-right: 20px;
}